<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="lisimba" type="DustInTheWind.Lisimba.Config.LisimbaConfigSection, Lisimba, Version=1.0.2891.3754, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    </configSections>
    
    <lisimba>
        
        <!-- The list of recent oppened files. -->
        <recentFiles>
            <clear/>
            <file fileName="G:\lisimba\second3bis.lsb"/>
        </recentFiles>
        
        <!-- The address book loaded at start time. -->
        <!-- Values: "new", "last", "specified" -->
        <!-- Default value: last -->
        <loadFileAtStart type="specified" fileName="second3bis.lsb"/>

        <!-- The initial sort method. -->
        <!-- Values: "Birthday", "BirthDate", "FirstName", "LastName", "Nickname", "NicknameOrName" -->
        <!-- Default value: NicknameOrName -->
        <sortBy value="Birthday"/>
        
    </lisimba>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
