<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <section name="lisimba" type="DustInTheWind.Lisimba.Common.ConfigSection.LisimbaConfigSection, DustInTheWind.Lisimba.Common" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToRoamingUser" restartOnExternalChanges="true" requirePermission="true"/>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <lisimba>

        <!-- The list of recent opened files. -->
        <recentFiles>
            <clear />
        </recentFiles>

        <!-- The address book loaded at start time. -->
        <!-- Values: "new", "last", "specified" -->
        <!-- Default value: last -->
        <loadFileAtStart type="last" />

        <!-- The initial sort method. -->
        <!-- Values: "Birthday", "BirthDate", "FirstName", "LastName", "Nickname", "NicknameOrName" -->
        <!-- Default value: NicknameOrName -->
        <sortBy value="Birthday" />

        <gates default="ZipXmlGate" />

    </lisimba>
    
</configuration>