<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="lisimba" type="DustInTheWind.Lisimba.Business.ConfigSection.LisimbaConfigSection, DustInTheWind.Lisimba.Business" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToRoamingUser" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>

    <lisimba startInTray="false">

        <!-- The list of recent opened files. -->
        <recentFiles>
            <clear />
        </recentFiles>

        <!-- Specifies the address book to be automatically loaded at start time. -->
        <!-- type -->
        <!-- Values: "new", "last", "specified" -->
        <!-- Default value: last -->
        <!-- fileName - available only for type="specified" -->
        <!-- Values: fileName="<full_name>;<gate_id>" -->
        <!-- Default value: null -->
        <loadFileAtStart type="last" />

        <!-- The initial sort method. -->
        <!-- Values: "Birthday", "BirthDate", "FirstName", "LastName", "Nickname", "NicknameOrName" -->
        <!-- Default value: NicknameOrName -->
        <sortBy value="Birthday" />

        <gates default="LisimbaGate" />

    </lisimba>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    
</configuration>
