<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="desmond" type="DustInTheWind.Desmond.Config.DesmondConfigurationSection, DustInTheWind.Desmond"/>
    </configSections>
    
    <appSettings>
        <add key="logDir" value=""/>
        <add key="logFile" value="Desmond.log"/>
    </appSettings>

    <desmond>
        <addressBook file="d:\agenda.lsb"/>
    </desmond>

</configuration>